DB_URL=If this file is .env.sample don't change this
# copy this file and name the copy exacly .env and populate it with the proper connection string
# Do not update the .env.sample to avoid leaking private credentials and do not try to force add/commit the .env file